In [1]:
import pandas as pd

In [3]:
data =  pd.read_csv('student.csv')

In [5]:
data

   Age  Result
0   18    Pass
1   20    Fail
2   19  Absent
3   21    Pass

In [7]:
data["Result"]

0      Pass
1      Fail
2    Absent
3      Pass
Name: Result, dtype: object

In [9]:
result_category = data['Result']

In [15]:
from sklearn.preprocessing import LabelEncoder
obj = LabelEncoder()
result = obj.fit_transform(result_category)

In [19]:
result    # the output like this 2 is thinking that 1 is near to 2 because they are integers so we can not use this one

array([2, 1, 0, 2])

In [21]:
from sklearn.preprocessing import LabelBinarizer
obj = LabelBinarizer()
result = obj.fit_transform(result_category)

In [23]:
result

array([[0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1]])

In [25]:
obj.classes_

array(['Absent', 'Fail', 'Pass'], dtype='<U6')